@model IEnumerable<_10TACULT.Models.Dev_Models.DevListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DevID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DevID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUTC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
