<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 10TACULT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-image: url(https://imgur.com/AkstGqV.jpg); background-size: cover; background-repeat: no-repeat; min-width: 100%; min-height: 100%; overflow-y: hidden; overflow-x: hidden; background-position: center; ">
    <div class="navbar navbar-inverse navbar-fixed-top" style="opacity: 0.5">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("10TACULT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Clan", "Index", "Clan")</li>
                    <li>@Html.ActionLink("Session", "Index", "Session")</li>
                    <li>@Html.ActionLink("Game", "Index", "Game")</li>
                    <li>@Html.ActionLink("Platform", "Index", "Platform")</li>
                    <li>@Html.ActionLink("Publisher", "Index", "Publisher")</li>
                    <li>@Html.ActionLink("Developer", "Index", "Dev")</li>
                    <li>@Html.ActionLink("Tag", "Index", "Tag")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <div class="container" style="display: flex; min-height: 100vh; flex-direction: column; justify-content: space-between;">
        <footer style="color: crimson;" >
            <p>&copy; @DateTime.Now.Year - 10TACULT</p>
        </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
