@model _10TACULT.Models.Platform_Models.PlatformDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlatformDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlatformID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformDeveloper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformDeveloper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
